{% extends "admintemp/index.html" %}
{% load static %}               

{% block link %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">

{% endblock %} 
{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Order List</h1>
                    
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div>
                                <!-- <a type="submit" href=""  class="btn btn-success">Add Product</a> -->
                            </div>
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="productlist" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Username</th>
                                            <th>Image1</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>address</th>
                                            <th>Date</th>
                                            <th id="orderstatus">Order Status</th>
                                            <th>payment Method</th>
                                           
                                            <th>Edit/Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in order %}
                                        <tr>
                                            <td>{{order.id}}</td> 
                                            <td>{{order.user_id}}</td>
                                            <td><img src="{{order.product.imageurl}}" alt="" style="width: 4rem;height:4rem;"></td> 
                                            <td>{{order.product.product}}</td>
                                            <td>{{order.price}}</td>
                                            <td>{{order.address.address_name}}, {{order.address.house_name}}, {{order.address.city}}, {{order.address.district}}, 
                                                {{order.address.state}}, {{order.address.pincode}}, {{order.address.address_mobile}}
                                            </td>
                                            <td>{{order.date}}</td>
                                            <td>{{order.status}}</td>
                                            <td>{{order.payment_method}}</td>
                                            
                            
                                            
                                            <td>
                                                <!-- <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Example select</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                      <option>Placed</option>
                                                      <option>Shipped</option>
                                                      <option>Delivered</option>
                                
                                                    </select>
                                                  </div> -->
                                                  <div class="btn-group">
                                                    <button type="button" class="btn btn-info dropdown-toggle" id="orderstatus" data-toggle="dropdown"  data-id="" aria-haspopup="true" aria-expanded="false">
                                                      {{order.status}}
                                                    </button>
                                                    <div class="dropdown-menu" id="orderstatus">
            
                                                      <a class="dropdown-item double" href="" id="shipped" data-id="{{order.id}}">Shipped</a>
                                                      <a class="dropdown-item double" href="" id="delivered" data-id="{{order.id}}">Delivered</a>
                                                      <!-- <div class="dropdown-divider"></div>
                                                      <a class="dropdown-item" href="#">Separated link</a> -->
                                                    </div>
                                                  </div>
                                                <!-- <a href="" class="btn btn-warning btn-xs">Edit</a> -->
                                                
                                                <!-- <form action="" href="" method="POST" class="d-inline">{% csrf_token %}
                
                                                    <input type="submit" value="Delete" class="btn btn-danger btn-xs"> -->
                                                
                                                </form>
                                                
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>         
                        </div> 

                        </div>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
                    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
                         
    
<!-- <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<style src="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"></style> -->
                    <script>
                        $(document).ready(function() {
                            $('#productlist').DataTable();
                        } );
                    </script>
    

<script>
$(document).on('click', '.double',function(){
    var clicked = $(this).text();
    var orderid = $(this).attr('data-id');
    console.log(orderid,clicked,"hello")
    var data = {
        'csrfmiddlewaretoken' : '{{csrf_token}}',
        'orderid': orderid,
        'clicked' : clicked,
    }
$.ajax({

    url:'/admin1/orderstatus/',
    method : 'post',
    data : data,
    success: function(data){
       if (data == 'true'){
           $("#orderstatus").load("#orderstatus>*");
            //alert("this is orderlist")
        }

   }
});

})

</script>
            {% endblock %}