{% extends "usertemp/main.html" %}
{% load static %}
{% block content %}


<!--Start All Title Box  -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Login</h2>
                <ul class="breadcrum"> 
                    <!-- <li class="breadcrumb-item"><a href="#">Shop</a></li> -->
                    <!-- <li class="breadcrumb-item active">Login</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box
 Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-4 col-lg-4 mb-3">
                <div class="title-left">
                    <div>
                        <!-- {% for message in messages %}
                       <h3>{{message}}</h3> 
                       {% endfor %} -->
                       <span id="error3"></span>
                    </div>
                    <h3 style="color: darkgreen;">Edit Password</h3>
                </div>
                <!-- <h5><a data-toggle="collaps" href="{% static '#formLogin' %}" role="button" aria-expanded="false">Click here to Login</a></h5> -->
                <form class="mt-3 collaps review-form-box" id="changepassword">
                    <div class="form-row">
                       
                        <div class="submitform col-md-12">
                            <label for="nputpwd" style="color:black; font-weight: bold;" class="mb-0">Password</label>
                            <input type="text" class="form-control" id="pwd" placeholder="Enter password">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="nputnewpwd" style="color:black; font-weight: bold;" class="mb-0">New Password</label>
                            <input type="text" class="form-control" id="newpwd" placeholder="Enter New password">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="nputconpwd" style="color:black; font-weight: bold;" class="mb-0">Confirm Password</label>
                            <input type="text" class="form-control" id="conpwd" placeholder="Confirm password">
                        </div>
                        <div>
                            <span id="error2"></span>
                        </div>
                    </div>
                    <button id="changepwd" type="button" class="btn hvr-hover">Change Password</button> 
                    <!-- <a id="" style ="color: rgb(255, 255, 255);width:100px;height:40px;" type="button" href="{% url 'index' %}" class="btn hvr-hover ml-5">Cancel</a> -->
                </form>
               
            </div>
        </div>
        <!--plant photo-->
        <div class="col-sm-6 col-lg-6 mb-3">
            <!-- <img src="{% static 'admin/img/plant.jpg'%}" alt=""> -->

        </div>
    </div>
</div>
<div style="height:100px;">

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script> -->


<!--Ajax for login-->
<script>

    $('#changepwd').click(function () {
        var pwd = $('#pwd').val()
        var newpwd = $('#newpwd').val()
        //var conpwd = $('#conpwd').val()
      
        console.log(pwd,newpwd)

        var data = {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'pwd': pwd,
            'newpwd': newpwd,
            //'conpwd': conpwd,

        }
        if (pwd.length<3 || pwd.length>50) {
            $('#error3').html("Please enter name min 4 characters")

        }
       // else if (newpwd != conpwd) {
            //$('#error3').html("Please enter same password")
       // }


        else {
            $.ajax({
                url: '/changepassword/',
                method: 'post',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data == 'true') {
                        alert("Password Changed successfully")
                        window.location.replace('/userprofile/')
                    }
                    if (data == 'false') {

                        $("#error3").html("Old Password not correct")
                    }
                    
                }

            })
        }
    })

</script> 







{% endblock %}