{% extends "usertemp/main.html" %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'css/userprofile.css' %}">

<style>
    body {
        background: -webkit-linear-gradient(left, #0e9d06, #168c04);
    }
</style>

<div class="container emp-profile">
    <!-- <form method=""> -->
    <div class="row">
        <div class="col-md-4">
            
        <form class="userimage" action="{% url 'userimage' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="custom-file">
                <img id="img1" src="{{user2.imageurl4}}" style="width: 12em; height: 12em;" alt=""><br>
                
                <label style = "text-transform: capitalize;color:darkblue" class="" for="exampleFormControlFile1">{{user1.first_name}}</label>
                <input type="file" class="form-control-file" id="image1" name="image1" required>
                
                <!-- <input type="file" class="custom-file-input" id="image1" value="">
                <label class="custom-file-label" for="customFile">Choose Image1</label> -->
                <input type="submit" class="btn btn-primary" value="update photo" id="submit"></a>
              </div>
           

            <div class="profile-img">
                <div class="custom-file">
                    <!-- <img id="img1" src="{{user.imageurl4}}" style="width: 6em; height: 7em;" alt=""><br> -->
                    
                    <!-- <label class="" for="exampleFormControlFile1">Image1</label> -->
                    <!-- <input type="file" class="form-control-file" id="image1" name="image1" required> -->
                    
                    <!-- <input type="file" class="custom-file-input" id="image1" value="">
                    <label class="custom-file-label" for="customFile">Choose Image1</label> -->
                    <!-- <input type="submit" class="btn btn-primary" id="submit"></a> -->
                  </div>
                <!-- <img src="{% static 'images/rakz.jpg' %}" alt="" /> -->
                <!-- <div class="file btn btn-lg btn-primary"> -->
                    <!-- Change Photo -->
                    <!-- <input id="user_image" type="file" name="file" /> -->
                <!-- </div> -->
                
            </div>
        </form>
        </div>
        <div style="height: 30px;">

        </div>
        <div class="col-md-6">

            <div class="profile-head">
                <h3 style="text-transform: capitalize">
                    Welcome   <span style="color:blue;">{{user1.first_name}}</span> your profile page</span> 
                </h3>
                <h6>
                    <!-- Edit Profile -->
                </h6>
                <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                <div class="mt-5">

                </div>
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">OrderList</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Watch List</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <!-- <a href="{% url 'changepassword' %}">edit password</a> -->
        </div>

        <div class="col-md-2">
            <!-- modal for edit profile -->

            <!-- Button trigger modal -->
            


            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Shipping Address -->
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Edit User Profile</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
                        </div>
                        <div class="modal-body">

                            <div class="container">
                                <div class="row ">

                                    <div class="col-sm-12 col-lg-12 mb-3">
                                        <div class="checkout-address">
                                            <!-- <div class="title-left">
                                    <h3>Add Shipping address</h3>
                                </div> -->
                                        <form name="form1" id="form1" class="">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text" class="form-control" name="name" id="name"
                                                        placeholder="" value="{{user1.first_name}}">

                                                </div>
                                            
                                            <div class="col-md-12 mb-3">
                                                <label for="lastName">Last Name</label>
                                                <input type="text" class="form-control" name="lname" id="lname"
                                                    placeholder="" value="{{user1.last_name}}">

                                            </div>
                                    </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="username" autocomplete="off">Email Address</label>

                                            <input type="text" class="form-control" name="email" id="email"
                                                placeholder="" value="{{user1.email}}">

                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="city">Mobile Number</label>
                                        <input type="text" class="form-control" name="mobile" id="mobile"
                                            placeholder="" value="{{user.mobile}}">

                                    </div>
                                    <!-- <div class="col-md-12 mb-3">
                                        <label for="address">User Name</label>
                                        <input type="text" class="form-control" name="username" id="username"
                                            placeholder="" value="{{user1.username}}"> -->

                                    <!-- </div> -->


                                    <div>
                                        <span id="error2"></span>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-12 mb-3">

                                            <div class="col-12 d-flex shopping-box"> <button style="color:white;"
                                                    name="but1" id="but1" type="button"
                                                    class="ml-auto btn hvr-hover">Edit User Profile </button>
                                            </div>
                                        </div>
                                            </form>
                                        </div>
                                    </div>
                                
                                </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->

                                <script src="https://code.jquery.com/jquery-3.5.1.js"
                                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                                crossorigin="anonymous"></script>



                            <script>

                        $('#but1').click(function () {
                            var name = $('#name').val()
                            var lname = $('#lname').val()
                            var email = $('#email').val()
                            var mobile = $('#mobile').val()
                            //var username = $('#username').val()
                            var atposition=email.indexOf("@") 
                            var dotposition=email.lastIndexOf(".")

                            console.log(name, lname, email, mobile)

                            var data = {
                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                'name': name,
                                'lname': lname,
                                'email': email,
                                'mobile': mobile,
                                //'username': username,
               
                            }
                            if (name.length<3 || name.length>50) {
                                $('#error2').html("Please enter name min 4 characters")

                            }
                            else if (lname.length<2 || lname.length>50) {
                                $('#error2').html("Please enter last name min 2 characters")
                            }
        
                        
                            else if (mobile.length<10 || mobile.length>15){
                                $('#error2').html("Please enter 10 digits mobile no")
                            }
                            else if (atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length){ 
                         
                               $('#error2').html("Please enter a valid e-mail address using @ . formats")
                                //alert("Please enter a valid e-mail address \n atpostion:"+atposition+"\n dotposition:"+dotposition) 
                                //alert("Please enter a valid e-mail address \n with @:"+atposition+"\n .co format:"+dotposition)  
                                  
                            }

                            else {
                                $.ajax({
                                    url: '/edituserprofile/',
                                    method: 'POST',
                                    data: data,
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data == 'true') {
                                            alert("Edited successfully")
                                            window.location.replace('/userprofile/')
                                        }
                                        if (data == 'false1') {

                                            $("#error2").html("Mobile no already exists")
                                        }
                                        if (data == 'false') {

                                            $("#error2").html("Email id already exists")
                                        }  
                                    }

                                })
                            }
                        })

                    </script> 
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <!-- <button type="btn1" class="btn btn-primary"></button> -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
     </div> -->

    
 







            <!-- end of modal edit profile -->
            <!-- <a type="button" class="profile-edit-btn" href="{% url 'edituserprofile' %}" name="btnAddMore"
                value="Edit Profile"></a> -->
        </div>


    

<!-- modal for password change -->

<div class="col-md-2">

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add Shipping Address -->
    </button>

    <!-- Modal -->
    <div class="modal fade2" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog2" role="document">
            <div class="modal-content2">
                <div class="modal-header2">
                    <h4 class="modal-title" id="exampleModalLabel1">Edit User Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body2">

                    <div class="container">
                        <div class="row ">

                            <div class="col-sm-12 col-lg-12 mb-3">
                                <div class="checkout-address">
                                    <!-- <div class="title-left">
                            <h3>Add Shipping address</h3>
                        </div> -->
                                <form name="form2" id="form2" class="">
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label for="Currentpwd">Current Password</label>
                                            <input type="password" class="form-control" name="pwd" id="pwd"
                                                placeholder="" value="">

                                        </div>
                                    
                                    <div class="col-md-12 mb-3">
                                        <label for="newpassword">New password</label>
                                        <input type="password" class="form-control" name="newpwd" id="newpwd"
                                            placeholder="" value="">

                                    </div>
                            </div>
                                <div class="col-md-12 mb-3">
                                    <label for="confpasswordusername" >Confirm Password</label>

                                    <input type="password" class="form-control" name="conpwd" id="conpwd"
                                        placeholder="" value="">

                                </div>

                            </div>
                           
                            </div>
                            <!-- <div class="col-md-12 mb-3">
                                <label for="address">User Name</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="" value="{{user1.username}}"> -->

                            <!-- </div> -->


                            <div>
                                <span id="error3"></span>
                            </div>
                            <div class="row">

                                <div class="col-md-12 mb-3">

                                    <div class="col-12 d-flex shopping-box"> <button style="color:white;"
                                            name="pwdbut" id="pwdbut" type="button"
                                            class="ml-auto btn hvr-hover">Change password </button>
                                    </div>
                                </div>
                                    </form>
                                </div>
                            </div>
                        
                        </div>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->

                        <!-- <script src="https://code.jquery.com/jquery-3.5.1.js" -->
                        <!-- integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" -->
                        <!-- crossorigin="anonymous"></script> -->



                    <script>

                $('#pwdbut').click(function () {
                    var pwd = $('#pwd').val()
                    var newpwd = $('#newpwd').val()
                    var conpwd = $('#conpwd').val()
                  
                    console.log(pwd)

                    var data = {
                        'csrfmiddlewaretoken': '{{csrf_token}}',
                        'pwd': pwd,
                        'newpwd': newpwd,
                        'conpwd': conpwd,
       
                    }
                    if (pwd.length<3 || pwd.length>50) {
                        $('#error3').html("Please enter name min 4 characters")

                    }
                    else if (newpwd != conpwd) {
                        $('#error3').html("Please enter same password")
                    }
        

                    else {
                        $.ajax({
                            url: '/passwordchange/',
                            method: 'POST',
                            data: data,
                            dataType: 'json',
                            success: function (data) {
                                if (data == 'true') {
                                    alert("Password Changed successfully")
                                    window.location.replace('/userprofile/')
                                }
                                if (data == 'false') {

                                    $("#error2").html("Mobile no already exists")
                                }
                                
                            }

                        })
                    }
                })

            </script> 
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="btn1" class="btn btn-primary"></button> -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
   

</div>


<!-- end of password change modal -->


    <!-- about under photo -->

    <div class="row">
        <div class="col-md-4">
            <div style="color: rgb(0, 0, 0);font-size: 1rem;" class="profile-work">
                <p style="color: rgb(0, 0, 0);font-size: 1rem;">About</p>
                <br>
                <div>
                    <div class="col-md-12">
                        <label>User name :<span style="color: blue; font-size: 1rem;"> {{user1.username}} </span>
                        </label>
                    </div>

                    <div class="col-md-12">
                        <label>Name :<span
                                style="color: blue; font-size: 1rem; text-transform: capitalize;">{{user1.first_name}}
                                {{user1.last_name}}</span> </label>
                    </div>
                    <div class="col-md-12">
                        <label>Email ID : <span style="color: blue; font-size: 1rem;"> {{user1.email}} </span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <label>Phone :<span style="color: blue; font-size: 1rem;"> {{user2.mobile}} </span> </label>
                    </div>
                </div>
                
                
                <!-- <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/> -->
            </div>
            
            <div> <a style="color:blanchedalmond" type="button" data-toggle="modal" data-target="#exampleModal"
                class="btn hvr-hover ml-5">
                Edit user profile</a> 
            
                <div class="ml-5 mt-2" >
                    <a href="{% url 'changepassword' %}">edit password</a>
                </div>
            </div>
           
        </div>
        
        <!-- about under photo -->



        
        <!-- orderlist -->
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <!-- orderlist cart view starts here -->
                        <div class="col-md-10 ">
                            <div class="odr-box">
                                <!-- <div class="title-right">
                                            <h3>Shopping cart</h3>
                                        </div> -->
                                <div class="rounded p-2 bg-light">
                                    {% for value in value %}
                                    <div class="media mb-2 border-bottom">
                                        <a href="#"></a><img style="width=100px; height:100px;" class="img-fluid"
                                            src="{{value.product.imageurl}}" alt="" /></a>
                                        <div class="media-body"> <a style="padding:.8em;"
                                                href="">{{cart.product.product}}</a>
                                            <div class="medium text-dark" style="padding:1em;">Price:
                                                {{value.product.price}}
                                                <span class="mx-2">|</span> Qty: {{value.count}} <span
                                                    class="mx-2">|</span>
                                                Subtotal: ₹ {{value.price}} <span class="mx-2">|</span>
                                                Status: {{value.status}}
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- orderlist cart view ends here -->

                <div class="row">
                    <div class="col-md-6">
                        <!-- <label>User Id</label> -->
                    </div>
                    <div class="col-md-6">
                        <!-- <p>{{user1.username}}</p> -->
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user1.first_name}} {{user1.last_name}}</p>
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user1.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{user.mobile}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Profession</label>
                        </div>
                        <div class="col-md-6">
                            <p>Web Developer and Designer</p>
                        </div> -->
                </div>



                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <label>Experience</label> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <p>Expert</p> -->
                        </div>
                    </div>

                    <div class="col-md-6 ml-5">
                        <div class="odr-box">
                            <div class="title-right">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                {% for value in value %}
                                <div class="media mb-2 border-bottom">
                                    <a href="#"></a><img style="width=100px; height:100px;" class="img-fluid"
                                        src="{{value.product.imageurl}}" alt="" /></a>
                                    <div class="media-body"> <a style="padding:.8em;"
                                            href="">{{cart.product.product}}</a>
                                        <div class="small text-muted" style="padding:1em;">Price:
                                            {{value.product.price}}
                                            <span class="mx-2">|</span> Qty: {{value.cart.count}} <span
                                                class="mx-2">|</span>
                                            Subtotal: ₹ {{value.product.price}}
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <!-- <label>Hourly Rate</label> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <p>10$/hr</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <label>Total Projects</label> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <p>230</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <label>English Level</label> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <p>Expert</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <label>Availability</label> -->
                        </div>
                        <div class="col-md-6">
                            <!-- <p>6 months</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <label>Your Bio</label><br /> -->
                            <!-- <p>Your detail description</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function readURL1(input){
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#img1').attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]); //convert to base64 string
        } 
    }
        $('#image1').change(function(){
            readURL1(this);
        });
    
    </script>

{% endblock %}